*{margin: 0; padding: 0;}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    /* 너비는 표기하지 않으면 자동으로 설정됨 */
    /* width: 978px; -- 978 + 2(테두리) + 20(패딩) = 1000px */
    height: 100px;
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
}
section{
    width: 630px;
    height: 600px;
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
}
aside{
    width: 320px;
    height: 600px;
    border: 1px solid #ccc;
    float: right;
    background-color: #eee;
    padding: 10px;
}
footer{
    width: 978px;
    height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    clear: both;
}