#container{
    width: 1000px; margin: 0 auto;
}
nav{
    width: 90%;
    height: 80px;
    background: #006699;
}
ul{
    list-style: none;
    text-align: right;
    margin-right: 100px;
}
ul li{
    display: inline-block;
    /* margin: 20px; */
    /* padding : 10px 0px */
    margin: 0px 20px;
    /* 수직정렬 - height와 같으면 가운데정렬 */
    line-height: 80px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: yellowgreen;
}
section{
    margin-top: 20px;
}