#wrap{
    width: 1000px;
    margin: 0 auto;
}
nav{
    width: 800px;
    text-align: right;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    /* float: left; */
    margin: 20px;
    border-top: 2px solid #333;
    padding: 10px;
}
a{
    text-decoration: none;
}
li:hover{
    background-color: #eee;
}
section{
    padding-left: 100px;
}
