@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 500px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
}
h1{
    margin-bottom: 10px;
}
p{
    line-height: 2;
    font-family: Nanum Gothic Coding;
}
.redtext{
    color: red;
}