#container{
    width: 520px;
    margin: 10px auto;
    padding: 20px 40px;
    border: 1px solid #000000;
}
.accent{
    font-size: 15px;
}
ul li{
    list-style: none;
    margin: 5px;
}
legend{
    font-weight: bold;
    margin: 20px 0px;
}
.button{
    margin-top: 10px;
}